process {

    withName:FASTQC {
        container = 'bryoinformatics/variant-id'
    }
	
	withName:TRIM {
		container = 'bryoinformatics/variant-id'
    }
	
	withName:FASTQC_TRIM {
        container = 'bryoinformatics/variant-id'
    }
	
	withName:INDEX {
        container = 'bryoinformatics/variant-id'
    }
	
	withName:ALIGN {
        container = 'bryoinformatics/variant-id'
    }
	
	withName:CALL {
        container = 'bryoinformatics/variant-id'
    }
	
	withName:CAT {
        container = 'bryoinformatics/variant-id'
    }
	
	withName:GENOTYPE {
        container = 'bryoinformatics/variant-id'
    }
}

singularity.enabled = true